<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>晓晓时刻</h2>
        </header>
        <p>大家好，我是一名前端小将，<br />这是我的个人博客，感谢你的关注。</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Read Me</a></li>
            </ul>
        </footer>

    </div>

</section>